/*.book .book-body .page-wrapper .page-inner section.normal pre {*/
/*    background: #F9F9F9;*/
/*    border: 1px solid #DDD;*/
/*    border-radius: 5px;*/
/*    font-size: 15px;*/
/*    font-weight: 500;*/
/*    line-height: 14px;*/
/*    padding: 0.7em;*/
/*    font-family: "Source Code Pro";*/
/*}*/

html {
    font-size: 55%;
}

.book .book-body .page-wrapper .page-inner section.normal h3 {
    font-weight: 500;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
    color: #AAA;
    background: none;
    border-left: 5px solid #F1F1F1;
    padding-left: 8px;
}